.main{
    width:90%;
    margin:auto;
}

.post{
    border:3px dashed white;
    min-height:10%;
    margin:40px auto;
}

.post-title
{
    margin:10px auto;
    text-align:center;
}

.summary{
    width:max-content;
    margin:auto;
}
.continue{
    display:block;
    width:20%;
    margin:20px auto;
    text-align:center;
    text-decoration: none;
    color:white;
    border:3px white dashed;
    text-shadow: 2px 2px 4px white;
    padding:5px;
    font-size:1.1em;
}

.continue:hover{
    background-color:rgba(0,0,0,0.1);
}